.header {
   padding: 20px;
    text-align: center;
    background-color: #000000;

  }
  
  .navLink {
    display: inline-block;
    font-size: 60px;
    font-weight: 900;
    text-decoration: none;

    color: #ffffff;
  }
  
  .navLink:not(:last-child) {
    margin-right: 40px;
  }
  